{{ header }}
<div id="product-search" class="container">
	{{ oct_breadcrumbs }}
	<div class="row">
	    <div class="col-12">
	        <h1 class="fm-main-title fm-page-title">{{ heading_title }}</h1>
	    </div>
    </div>
	<div class="content-top-box">{{ content_top }}</div>
	<div class="row no-gutters">
		{{ column_left }}
		{% if column_left and column_right %}
		{% set class = 'col-lg-6 is-cols' %}
		{% elseif column_left or column_right %}
		{% set class = 'col-lg-9' %}
		{% else %}
		{% set class = 'col-lg-12 no-col' %}
		{% endif %}
		<div id="content" class="{{ class }} fm-content fm-category-content">
			<div class="fm-search-block">
				<div class="form-group">
		            <label class="fm-control-label" for="input-search">{{ entry_search }}</label>
		            <div class="fm-search-block-form">
			            <input type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}" id="input-search" class="form-control">
			            <select name="category_id" class="fm-select">
							<option value="0">{{ text_category }}</option>
							{% for category_1 in categories %}
							{% if category_1.category_id == category_id %}
							<option value="{{ category_1.category_id }}" selected="selected">{{ category_1.name }}</option>
							{% else %}
							<option value="{{ category_1.category_id }}">{{ category_1.name }}</option>
							{% endif %}
							{% for category_2 in category_1.children %}
							{% if category_2.category_id == category_id %}
							<option value="{{ category_2.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
							{% else %}
							<option value="{{ category_2.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
							{% endif %}
							{% for category_3 in category_2.children %}
							{% if category_3.category_id == category_id %}
							<option value="{{ category_3.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
							{% else %}
							<option value="{{ category_3.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
							{% endif %}
							{% endfor %}
							{% endfor %}
							{% endfor %}
			            </select>
		            </div>
		        </div>
		        <div class="form-checkbox-group">
		            <div class="checkbox">
			  			<label>
			                {% if sub_category %}
							<input type="checkbox" id="sub-category" class="fm-form-checkbox-input" name="sub_category" value="1" checked="checked" />
							{% else %}
							<input type="checkbox" id="sub-category" class="fm-form-checkbox-input" name="sub_category" value="1" />
							{% endif %}
			                <span class="check-box"></span>
			                {{ text_sub_category }}
			            </label>
		            </div>
		            <div class="checkbox">
						<label>
			                {% if description %}
							<input type="checkbox" id="description" class="fm-form-checkbox-input" name="description" value="1" id="description" checked="checked" />
							{% else %}
							<input type="checkbox" id="description" class="fm-form-checkbox-input" name="description" value="1" id="description" />
							{% endif %}
			                <span class="check-box"></span>
			                {{ entry_description }}
			            </label>
					</div>
		        </div>
		        <input type="button" value="{{ button_search }}" id="button-search"  class="fm-btn fm-btn-blue">
		        <div class="fm-content-title">{{ text_search }}</div>
			</div>
			{% if products %}
			{% if oct_feelmart_data.category_view_sort_oder is defined and (oct_feelmart_data.category_view_sort_oder or oct_feelmart_data.category_view_sort_oder == 'on') %}
			<div class="fm-category-sort-block d-flex justify-content-between">
				<div class="sort-limit">
					<select id="input-sort" class="sort-select" onchange="location = this.value;">
						{% for sorts in sorts %}
							{% if sorts.value == '%s-%s'|format(sort, order) %}
								<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
							{% else %}
								<option value="{{ sorts.href }}">{{ sorts.text }}</option>
							{% endif %}
						{% endfor %}
					</select>
					<select id="input-limit" class="limit-select" onchange="location = this.value;">
						{% for limits in limits %}
							{% if limits.value == limit %}
								<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
							{% else %}
								<option value="{{ limits.href }}">{{ limits.text }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="fm-category-appearance btn-group">
					<button type="button" id="list-view" class="fm-category-appearance-btn" data-toggle="tooltip" data-placement="top" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
					<button type="button" id="grid-view" class="fm-category-appearance-btn" data-toggle="tooltip" data-placement="top" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
				</div>
			</div>
			{% endif %}
			<div class="row no-gutters fm-category-products">
				{% for product in products %}
				<div class="product-layout product-grid col-6 col-md-4 col-lg-4">
					<div class="fm-module-item d-flex flex-column h-100">
						<div class="fm-module-img">
							<ul class="fm-module-buttons-list list-unstyled d-flex">
								<li class="fm-module-buttons-item fm-module-buttons-compare">
									<button type="button" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');" class="fm-module-buttons-link"><i class="fas fa-sliders-h"></i></button>
								</li>
								<li class="fm-module-buttons-item fm-module-buttons-wishlist">
									<button type="button" onclick="wishlist.add('{{ product.product_id }}');" title="{{ button_wishlist }}" class="fm-module-buttons-link"><i class="far fa-heart"></i></button>
								</li>
							</ul>
							<a href="{{ product.href }}">
								<img src="{{ product.thumb }}"{% if oct_lazyload is defined and oct_lazyload %} data-srcset="{{ product.thumb }} 100w" srcset="{{ oct_lazy_image }} 100w" sizes="100vw" class="img-fluid oct-lazy"{% else %} class="img-fluid"{% endif %} alt="{{ product.name }}" title="{{ product.name }}" />
							</a>
							{% if product.rating is not same as (false) %}
							<div class="fm-module-rating d-flex align-items-center justify-content-center">
								<div class="fm-module-rating-stars d-flex align-items-center">
									{% for i in 1..5 %}
									{% if product.rating < i %}
									<span class="fm-module-rating-star"></span>
									{% else %}
									<span class="fm-module-rating-star fm-module-rating-star-is"></span>
									{% endif %}
									{% endfor %}
								</div>
								<div class="fm-module-reviews"><i class="fas fa-comment"></i><span>{{ product.reviews }}</span></div>
							</div>
							{% endif %}
						</div>
						<div class="fm-category-product-caption">
							{% if product.oct_model is not empty %}
							<div class="fm-category-product-model">{{ oct_view_model_cat }}{{ product.oct_model }}</div>
							{% endif %}
							<div class="fm-module-title">
								<a href="{{ product.href }}">{{ product.name }}</a>
							</div>
							{% if product.price %}
							<div class="fm-module-price mt-auto">
								{% if not product.special %}
								<div class="fm-module-price-bottom">
									<span class="fm-module-price-new">{{ product.price }}</span>
								</div>
								{% else %}
								<div class="fm-module-price-top d-flex align-items-center justify-content-center">
									<span class="fm-module-price-old">{{ product.price }}</span>
								</div>
								<div class="fm-module-price-bottom">
									<span class="fm-module-price-new">{{ product.special }}</span>
								</div>
								{% endif %}
								{% if product.tax %}
								<div class="price-tax">{{ text_tax }} {{ product.tax }}</div>
								{% endif %}
							</div>
							{% endif %}
							{% if (product.description and product.description|length > 3) %}
								<div class="fm-category-product-description">{{ product.description }}</div>
							{% endif %}
							<div class="fm-category-btn-box">
				                <button type="button" onclick="cart.add('{{ product.product_id }}');" class="fm-product-btn"><img src="catalog/view/theme/oct_feelmart/img/shop-cart-icon.svg" alt="{{ button_cart }}" /><span>{{ button_cart }}</span></button>
			                </div>
						</div>
						<div class="fm-module-overlay"></div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="fm-pagination-cont">{{ pagination }}</div>
			{% else %}
			<div class="p-4">
				<p>{{ text_empty }}</p>
			</div>
			{% endif %}
		</div>
		{{ column_right }}
	</div>
	{{ content_bottom }}
</div>
<script>
$('#button-search').bind('click', function() {
	url = 'index.php?route=product/search';

	var search = $('#content input[name=\'search\']').prop('value');

	if (search) {
		url += '&search=' + encodeURIComponent(search);
	}

	var category_id = $('#content select[name=\'category_id\']').prop('value');

	if (category_id > 0) {
		url += '&category_id=' + encodeURIComponent(category_id);
	}

	var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');

	if (sub_category) {
		url += '&sub_category=true';
	}

	var filter_description = $('#content input[name=\'description\']:checked').prop('value');

	if (filter_description) {
		url += '&description=true';
	}

	location = url;
});

$('#content input[name=\'search\']').bind('keydown', function(e) {
	if (e.keyCode == 13) {
		$('#button-search').trigger('click');
	}
});

$('select[name=\'category_id\']').on('change', function() {
	if (this.value == '0') {
		$('input[name=\'sub_category\']').prop('disabled', true);
	} else {
		$('input[name=\'sub_category\']').prop('disabled', false);
	}
});

$('select[name=\'category_id\']').trigger('change');
</script>
{{ footer }}
