{% if articles %}
{% if position == 'column_left' or position == 'column_right' %}
<div  class="fm-module-column-box">
	<div class="fm-column-title">{{ heading_title }}</div>
	<div id="fm-blog-column-article{{ module }}" class="fm-module-column-box-content">
		{% for article in articles %}
		<div class="fm-item fm-news-item-box">
			<div class="fm-news-item h-100 d-flex flex-column">
				<a href="{{ article.href }}" title="{{ article.name }}" class="fm-news-item-photo">
	            	<img src="{{ article.thumb }}"{% if oct_lazyload is defined and oct_lazyload %} data-srcset="{{ article.thumb }} 100w" srcset="{{ oct_lazy_image }} 100w" sizes="100vw" class="img-fluid oct-lazy"{% else %} class="img-fluid"{% endif %} alt="{{ article.name }}" title="{{ article.name }}" />
	            </a>
	            <div class="fm-news-item-info d-flex flex-column justify-content-between">
					<a href="{{ article.href }}" title="{{ article.name }}" class="fm-news-item-title">{{ article.name }}</a>
					<div class="fm-news-item-text">{{ article.description }}</div>
					<div class="fm-news-item-date fm-item-date">
						<span><i class="fas fa-calendar-alt"></i></span>{{ article.date_added }}
					</div>
	            </div>
			</div>
		</div>
		{% endfor %}
	</div>
	<button type="button" id="fm-blog-button-prev{{ module }}" class="fm-column-module-btn fm-column-module-btn-prev"><span>‹</span></button>
	<button type="button" id="fm-blog-button-next{{ module }}" class="fm-column-module-btn fm-column-module-btn-next"><span>›</span></button>
	<script>
		octShowColumnProducts("fm-blog-button-prev{{ module }}", "fm-blog-button-next{{ module }}", "fm-blog-column-article{{ module }}");
	</script>
</div>
{% else %}
<div class="fm-news-box">
	<div class="row row-padding-top">
		<div class="col-12 fm-main-title">{{ heading_title }}</div>
	</div>
	<div id="fm-blog-article_{{ module }}" class="row no-gutters">
		{% for article in articles %}
		<div class="col-lg-6 fm-news-item-box fm-item">
			<div class="fm-news-item d-flex justify-content-between h-100">
				<a href="{{ article.href }}" class="fm-news-item-photo">
				<img src="{{ article.thumb }}"{% if oct_lazyload is defined and oct_lazyload %} data-srcset="{{ article.thumb }} 100w" srcset="{{ oct_lazy_image }} 100w" sizes="100vw" class="img-fluid oct-lazy"{% else %} class="img-fluid"{% endif %} alt="{{ article.name }}" title="{{ article.name }}" />
				</a>
				<div class="fm-news-item-info d-flex flex-column justify-content-between">
					<a href="{{ article.href }}" class="fm-news-item-title">
					{{ article.name }}
					</a>
					<div class="fm-news-item-text">
						{{ article.description }}
					</div>
					<div class="fm-news-item-date fm-item-date">
						<span><i class="fas fa-calendar-alt"></i></span>{{ article.date_added }}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
{% endif %}
