<footer class="row-padding-top">
	<div class="fm-main-footer">
		<div class="container">
	        <div class="row">
	        	<div class="col-sm-6 col-md-6 col-lg-3 text-center fm-main-footer-first order-0">
		            <div class="fm-main-footer-contact">
		            	{% if oct_contact_telephones is defined and oct_contact_telephones is not empty %}
			            <div class="header-dropdown-box">
			            	{% if oct_contact_telephones|length > 1 %}

							<div class="fm-phone-box d-flex align-items-center">
								<div class="fm-phone-img">
									<img src="/catalog/view/theme/oct_feelmart/img/icon_phone_foot.svg" alt="">
								</div>
								<a class="btn btn-link dropdown-toggle justify-content-center align-items-center" href="javascript:;" role="button">
									<div class="phone-number-row">{{ oct_contact_telephones[0] }}</div>
									<div class="phone-number-row">{{ oct_contact_telephones[1] }}</div>
									<!--i class="fas fa-chevron-down"></i-->
								</a>
							</div>

			                <div class="header-dropdown text-center">
				                <div class="header-dropdown-inner">
				                    <div class="header-dropdown-title header-dropdown-title-bold">{{ oct_our_telephones }}</div>
				                    <ul class="list-unstyled">
					                    {% for oct_contact_telephone in oct_contact_telephones %}
					                    <li><a href="tel:{{ oct_contact_telephone|replace({" " : "", "-" : "", "(" : "", ")" : ""}) }}">{{ oct_contact_telephone }}</a></li>
					                    {% endfor %}
				                    </ul>
				                </div>
			                </div>
			                {% else %}
			                <a class="btn btn-link dropdown-toggle d-flex justify-content-center align-items-center" href="tel:{{ oct_contact_telephones[0]|replace({" " : "", "-" : "", "(" : "", ")" : ""}) }}" role="button">{{ oct_contact_telephones[0] }}</a>
			                {% endif %}
			            </div>
	                    {% endif %}
			            {% if oct_popup_call_phone_status is defined and oct_popup_call_phone_status %}
			            <button type="button" onclick="octPopupCallPhone()" class="fm-main-footer-contact-btn fm-btn">{{ oct_to_contact_us }}</button>
						{% endif %}
			            {% if oct_feelmart_data.contact_address[oct_lang_id] is defined and oct_feelmart_data.contact_address[oct_lang_id] %}
	                    <div class="fm-main-footer-contact-address">
												<img src="/catalog/view/theme/oct_feelmart/img/icon_place_foot.svg" alt="icon_place">
												<p>{{ oct_feelmart_data.contact_address[oct_lang_id] }}</p>
											</div>
	                    {% endif %}
	                    {% if oct_feelmart_data.contact_email is defined and oct_feelmart_data.contact_email %}
						<div class="footer-mail">
							<img src="/catalog/view/theme/oct_feelmart/img/icon_mail_foot.svg" alt="icon_mail">
							<a href="mailto:{{ oct_feelmart_data.contact_email }}" class="fm-main-footer-contact-link">
								{{ oct_feelmart_data.contact_email }}
							</a>
						</div>
	                    {% endif %}
			            <!--ul class="fm-main-footer-payments-list list-unstyled d-flex justify-content-center">
				            {% if oct_feelmart_data.payments.sber is defined and oct_feelmart_data.payments.sber %}
							<li class="fm-main-footer-payments-item sberbank"></li>
							{% endif %}
		                    {% if oct_feelmart_data.payments.privat24 is defined and oct_feelmart_data.payments.privat24 %}
							<li class="fm-main-footer-payments-item privat24"></li>
							{% endif %}
		                    {% if oct_feelmart_data.payments.ym is defined and oct_feelmart_data.payments.ym %}
							<li class="fm-main-footer-payments-item yandex-money"></li>
							{% endif %}
		                    {% if oct_feelmart_data.payments.wm is defined and oct_feelmart_data.payments.wm %}
							<li class="fm-main-footer-payments-item webmoney"></li>
							{% endif %}
		                    {% if oct_feelmart_data.payments.visa is defined and oct_feelmart_data.payments.visa %}
							<li class="fm-main-footer-payments-item visa"></li>
							{% endif %}
		                    {% if oct_feelmart_data.payments.qw is defined and oct_feelmart_data.payments.qw %}
							<li class="fm-main-footer-payments-item qiwi"></li>
							{% endif %}
		                    {% if oct_feelmart_data.payments.skrill is defined and oct_feelmart_data.payments.skrill %}
							<li class="fm-main-footer-payments-item skrill"></li>
							{% endif %}
		                    {% if oct_feelmart_data.payments.interkassa is defined and oct_feelmart_data.payments.interkassa %}
							<li class="fm-main-footer-payments-item interkassa"></li>
							{% endif %}
		                    {% if oct_feelmart_data.payments.lp is defined and oct_feelmart_data.payments.lp %}
							<li class="fm-main-footer-payments-item liqpay"></li>
							{% endif %}
		                    {% if oct_feelmart_data.payments.pp is defined and oct_feelmart_data.payments.pp %}
							<li class="fm-main-footer-payments-item paypal"></li>
							{% endif %}
		                    {% if oct_feelmart_data.payments.robo is defined and oct_feelmart_data.payments.robo %}
							<li class="fm-main-footer-payments-item robokassa"></li>
							{% endif %}
		                    {% if oct_feelmart_data.payments.mc is defined and oct_feelmart_data.payments.mc %}
							<li class="fm-main-footer-payments-item mastercard"></li>
							{% endif %}
		                    {% if oct_feelmart_data.payments.maestro is defined and oct_feelmart_data.payments.maestro %}
							<li class="fm-main-footer-payments-item maestro"></li>
							{% endif %}
							{% for payment_customer in oct_customer_paymets %}
							<li class="fm-main-footer-payments-item custom-payment"><img src="{{ payment_customer }}" alt=""></li>
							{% endfor %}
			            </ul-->
		            </div>
		        </div>
	            {% if categories is defined and categories %}
	            <div class="col-sm-6 col-md-6 col-lg-3 fm-main-footer-second fm-main-footer-list order-2 order-lg-1">
	            	<div class="fm-main-footer-title fm-main-footer-title-toggle">
		            	<span>{{ oct_footer_category }}</span>
		            </div>
	                <ul class="fm-main-footer-links-list list-unstyled">
	                	{% for category in categories %}
	                    <li><a href="{{ category.href }}" title="{{ category.name }}">{{ category.name }}</a></li>
	                    {% endfor %}
	                </ul>
	            </div>
	            {% endif %}
	            {% if informations %}
	            <div class="col-sm-6 col-md-6 col-lg-3 fm-main-footer-third fm-main-footer-list order-3 order-lg-2">
	                <div class="fm-main-footer-title fm-main-footer-title-toggle">
	                	<span>{{ text_information }}</span>
	                </div>
	                <ul class="fm-main-footer-links-list list-unstyled">
	                    {% for information in informations %}
	                    <li><a href="{{ information.href }}" {% if information.rel is defined and information.rel %}rel="nofollow"{% endif %} title="{{ information.title }}">{{ information.title }}</a></li>
	                    {% endfor %}
	                </ul>
	            </div>
	            {% endif %}

	            <div class="col-sm-6 col-md-6 col-lg-3 fm-main-footer-fourth fm-main-footer-list order-1 order-lg-3">
	                {% if oct_contact_opens is defined and oct_contact_opens is not empty %}

	            	<div class="fm-main-footer-shedule">

	                	<div class="fm-main-footer-title row">
							<div class="shedule-img">
								<img src="/catalog/view/theme/oct_feelmart/img/icon_clock_foot.svg" alt="icon_facebook">
							</div>
							<div class="shedule-title-text">
								{{ oct_working_hours }}
							</div>
						</div>

                        <ul class="fm-main-footer-shedule-list list-unstyled">
                        	{% for oct_contact_open in oct_contact_opens %}
                            <li class="fm-main-footer-shedule-item">{{ oct_contact_open }}</li>
                            {% endfor %}
                        </ul>
	            	</div>
	                {% endif %}

                    {% if oct_feelmart_data.socials is defined and oct_feelmart_data.socials is not empty %}
                    <div class="fm-main-footer-socials">
                        <div class="fm-main-footer-title">{{ oct_footer_social_tex }}</div>
                        <ul class="fm-main-footer-social-list list-unstyled d-flex flex-wrap justify-content-center justify-content-lg-start">
                        	{% for social in oct_feelmart_data.socials %}
                            <li class="fm-main-footer-social-item">
								<a rel="nofollow" href="{{ (social.link == "#" or social.link is empty) ? 'javascript:;' : social.link }}" class="fm-main-footer-social-link fm-main-footer-social-link-{{ social.icone|replace({'fa ': "", "fab " : "", "far " : "", "fas " : ""}) }}" target="_blank">
									<img src="/catalog/view/theme/oct_feelmart/img/icon_facebook.svg" alt="icon_facebook">
									<!--i class="{{ social.icone }}"></i-->
								</a>
							</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
	            </div>
	        </div>
	        <!--div class="fm-main-footer-credits">
		        <div class="container">
			        <div class="row">
			            <div class="col-lg-12 text-center">
			                {{ powered }}
			            </div>
			        </div>
		        </div>
	        </div-->
	    </div>
	</div>
</footer>
{% for script in scripts %}
<script src="{{ script }}"></script>
{% endfor %}
<div class="modal-holder"></div>
{% if oct_isiOS is defined and oct_isiOS %}
<script>
var elementsA = document.getElementsByTagName('a');
for(var i = 0; i < elementsA.length; i++){
    elementsA[i].addEventListener('touchend',function(){});
}

var elementsB = document.getElementsByTagName('button');
for(var i = 0; i < elementsB.length; i++){
    elementsB[i].addEventListener('touchend',function(){});
}
</script>
{% endif %}
<!-- Facebook Pixel Code -->
<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window, document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '236406774492203');
	fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
			   src="https://www.facebook.com/tr?id=236406774492203&ev=PageView&noscript=1"
	/></noscript>
<!-- End Facebook Pixel Code -->

</body>
</html>
