{{ header }}
<div id="banner-top" class="flat-bg">
    <div class="opacity-bg"></div>
    <div class="container">
        <div class="wrapper">
            <div class="first-title">
                ОЧИСТКА ВОДЫ В КВАРТИРЕ
            </div>
            <div class="second-title">
                Безопасная и комфортная, голубая вода для Вашего здоровья, красоты и блестящего дома без налетов и ржавчины
            </div>
            <div class="button">
                <a href="" class="make-order fm-banner-plus-btn fm-btn">
                    ПОДОБРАТЬ ОБОРУДОВАНИЕ
                </a>
            </div>
        </div>
    </div>
</div>
<div id="why" class="landing-section">
    <div class="container">
        <div class="landing-title">
            <p class="title-big">ЗАЧЕМ</p>
            <div class="title-inner">
                <p class="title-normal">Зачем воду нужно очищать?</p>
                <p class="title-small">проблемы, связанные с использованием некачественной воды в квартире</p>
            </div>
        </div>
        <div class="row">
            <div class="why-card">
                <img src="..\image\catalog\landing_flat\pic_card_1.png" alt="">
                <span>Желтый налет</span>
                <span>Белые потеки</span>
                <span>Забитые форсунки душа</span>
            </div>
            <div class="why-card">
                <img src="..\image\catalog\landing_flat\pic_card_2.png" alt="">

                <span>Накипь в чайнике</span>
                <span>Грязные плевки из утюга</span>
                <span>Поломки стиральной машины</span>
            </div>
            <div class="why-card">
                <img src="..\image\catalog\landing_flat\pic_card_3.png" alt="">

                <span>Сухая кожа</span>
                <span>Ломкие волосы</span>
                <span>Раздражение на коже</span>
            </div>
            <p class="why-sense">
                Эти проблемы возникают из-за некачественной воды:
                жесткая, содержит хлор, много железа и марганца.
            </p>
        </div>
    </div>
</div>
<div class="decision">
    <img src="..\image\catalog\landing_flat\decision-img.svg" alt="">
    <div class="container">
        <p class="decision-big">У НАС ЕСТЬ РЕШЕНИЕ</p>
        <p class="decision-small">ПРЕДСТАВЬТЕ СВОЙ ДОМ С ИДЕАЛЬНО ЧИСТОЙ ВОДОЙ</p>
    </div>
</div>
<div id="preferences">
    <div class="landing-title">
        <p class="title-big">ПРЕИМУЩЕСТВА</p>
        <div class="title-inner">
            <p class="title-normal">преимущества использования<br>чистой воды ДОМА</p>
        </div>
    </div>
    <div class="preferences-item">
        <div class="container">
            <img src="..\image\catalog\landing_flat\preferences1.png" alt="Здоров'я">
            <div class="peferences-item-text">
                <span class="preferences-title">Здоровье</span>
                <span class="preferences-description">Безопасная вода для личной гигиены.</span>
                <p class="preferences-text">
                    Особенно важно для маленьких детей, которые часто глотают воду во время купания. Очищенная вода помогает решить проблему сухости и частых раздражений на коже, ломкости волос.
                </p>
            </div>
        </div>
    </div>
    <div class="preferences-item">
        <div class="container">
            <img src="..\image\catalog\landing_flat\preferences2.png" alt="Комфорт">
            <div class="peferences-item-text left">
                <span class="preferences-title">Комфорт</span>
                <span class="preferences-description">Голубая вода в ванной.</span>
                <p class="preferences-text">
                    Да, именно голубая, как на курортах Австрии и Швейцарии. Уборка в ванной комнате станет проще. Чистая вода - сияющая сантехника без налета и ржавчины, плитка без потеков.
                </p>
            </div>
        </div>
    </div>
    <div class="preferences-item">
        <div class="container">
            <img src="..\image\catalog\landing_flat\preferences3.png" alt="Економія">
            <div class="peferences-item-text">
                <span class="preferences-title">Экономия</span>
                <span class="preferences-description">предохраняет ваши приборы, сантехнику, трубы.</span>
                <p class="preferences-text">
                    Так, хороший фильтр, как и другая хорошая техника в доме - не дешевая вещь. Но ценность, которую он приносит в вашу семью, значительно больше. Кроме того, чистая вода повышает эффективность порошка, мыла, средств для мытья посуды.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="lets-go">
    <div class="container">
        <img class="lets-go-img-right" src="..\image\catalog\landing_flat\bulb.png" alt="bulb">
        <p class="decision-small">НАЧНИТЕ Путь к чистой воде</p>
        <div class="button">
            <a href="" class="make-order fm-banner-plus-btn fm-btn">ПОДОБРАТЬ ОБОРУДОВАНИЕ</a>
        </div>
    </div>
</div>
<div id="how">
    <div class="container">
        <div class="landing-title">
            <p class="title-big">КАК</p>
            <div class="title-inner">
                <p class="title-normal">ОЧИСТКА ВОДЫ В КВАРТИРЕ</p>
            </div>
        </div>
        <img src="..\image\catalog\landing_flat\shema-big-ua.png" alt="схема">
    </div>
</div>
<script>
        function changeImage(){
            if(document.querySelector('#how img')){
                let picLang = '';
                let picSize = '';
                document.querySelector('html').getAttribute('lang') == 'ua' ? picLang = 'ua' :picLang = 'ru';
                document.documentElement.clientWidth <= 991 ? picSize = 'small' : picSize = 'big';
                document.querySelector('#how img').src = `../image/catalog/landing_flat/shema-${picSize}-${picLang}.png`;
            }
        }

        changeImage();
        window.addEventListener(`resize`, event => {
            changeImage();
        }, false);
</script>
<div id="categories">
    <div class="container">
        <div class="landing-title">
            <div class="title-inner">
                <p class="title-normal">КАТЕГОРИИ ТОВАРОВ</p>
            </div>
        </div>
        <div class="row">
            <div class="categories-card">
                <img src="..\image\catalog\landing_flat\pic_kategorii1.png" alt="Механическая очистка">
                <span class="category-name"><a href="/household-filter-ru/mechanical-cleaning-ru">Механическая очистка</a></span>
            </div>
            <div class="categories-card">
                <img src="..\image\catalog\landing_flat\pic_kategorii2.png" alt="Смягчение воды">
                <span class="category-name"><a href="/household-filter-ua/water-softening-ru">Смягчение воды</a></span>
            </div>
            <div class="categories-card">
                <img src="..\image\catalog\landing_flat\pic_kategorii3.png" alt="Фильтрационные системы">
                <span class="category-name"><a href="/household-filter-ru/filtration-systems-ru">Фильтрационные системы</a></span>
            </div>
            <div class="categories-card">
                <img src="..\image\catalog\landing_flat\pic_kategorii4.png" alt="УФ обеззараживание">
                <span class="category-name"><a href="/household-filter-ru/UV-disinfection-ru">УФ обеззараживание</a></span>
            </div>
            <div class="categories-card">
                <img src="..\image\catalog\landing_flat\pic_kategorii5.png" alt="Для питьевой воды">
                <span class="category-name"><a href="/drinkable-water-ru">Для питьевой воды</a></span>
            </div>
        </div>
    </div>
</div>
<div id="variants">
    <div class="container">
        <div class="landing-title">
            <div class="title-inner">
                <p class="title-normal">ГОТОВЫЕ РЕШЕНИЯ ДЛЯ ВАШЕГО ДОМА</p>
            </div>
        </div>
        <div class="row">
            <div class="variants-card light" style="background-image: url('/image/catalog/landing_flat/Slider_1_background.png')">
                <div class="inner">
                    <span class="variants-title">HOME BWT<br>LITE</span>
                    <span class="description">
                        Технологичная очистка для небольшой квартиры<br>Водопотребление: до 15 м3/мес.
                    </span>
                    <img src="../image/catalog/landing_flat/Slider_1_tovar.png" alt="HOME BWT">
                    <a href="{{ link_solution1 }}" class="variants-btn">смотреть</a>
                </div>
            </div>
            <div class="variants-card light" style="background-image: url('/image/catalog/landing_flat/Slider_2_background.png')">
                <div class="inner">
                    <span class="variants-title">HOME BWT<br>STANDARD</span>
                    <span class="description">
                        Комплексная очистка для средней квартиры<br>Водопотребление: до 30 м3/мес.
                    </span>
                    <img src="../image/catalog/landing_flat/Slider_2_tovar.png" alt="HOME BWT">
                    <a href="{{ link_solution2 }}" class="variants-btn">смотреть</a>
                </div>
            </div>
            <div class="variants-card light" style="background-image: url('/image/catalog/landing_flat/Slider_3_background.png')">
                <div class="inner">
                    <span class="variants-title">HOME BWT<br>ADVANCED</span>
                    <span class="description">
                        Очистка нового поколения для большой квартиры<br>Водопотребление: 70+ м3/мес.
                    </span>
                    <img src="../image/catalog/landing_flat/Slider_3_tovar.png" alt="HOME BWT">
                    <a href="{{ link_solution3 }}" class="variants-btn">смотреть</a>
                </div>
            </div>
            <div class="variants-card light" style="background-image: url('/image/catalog/landing_flat/Slider_4_background.png')">
                <div class="inner">
                    <span class="variants-title">HOME BWT<br>DESIGN</span>
                    <span class="description">
                        Безреагентная очистка, когда нет свободного пространства<br>Водопотребление: до 25 м3/мес.
                    </span>
                    <img src="../image/catalog/landing_flat/Slider_4_tovar.png" alt="HOME BWT">
                    <a href="{{ link_solution4 }}" class="variants-btn">смотреть</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="select">
    <div class="container">
        <p class="decision-small">ПРОФЕССИОНАЛЬНЫЙ ПОДБОР ОБОРУДОВАНИЯ</p>
        <div class="button">
            <a href="" class="make-order fm-banner-plus-btn fm-btn">ЗАКАЗАТЬ ОБОРУДОВАНИЕ</a>
        </div>
    </div>
</div>

<div id="landing-popup">
    <div class="container">
        <div class="order">
            <img class="close-btn" src="/image/catalog/landing_flat/icon_close.svg" alt="icon_close">
            <div class="title">Заявка на подбор оборудования</div>
            <form action="">
                <div class="wrapper">
                    <p>Ваше имя</p>
                    <input class="required" name="name" type="text">
                    <p>Телефон:</p>
                    <input class="required" name="phone" type="text">
                    <p class="bigger-marg">E-mail:</p>
                    <input class="required" name="mail" type="text">
                    <input type="hidden" name="landing" value='"В квартире"'>
                    <input id="send" type="submit" value="ОТПРАВИТЬ">
                </div>
            </form>
        </div>
    </div>
</div>
<div id="popup-post">
    <div class="container">
        <div class="post-message">
            Спасибо за обращение! Мы скоро с вами свяжемся.
        </div>
    </div>
</div>
{{ footer }}